* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}

.title,
.form {
  margin-left: 10px;
  margin-top: 10px;
}
.form {
  display: flex;
  flex-direction: column;
}
.userNumber {
  width: 250px;
  background-color: lightgrey;
  border-style: none;
  line-height: 30px;
  border-radius: 5px;
  margin: 5px 0;
}

.submit-button {
  display: inline-block;
  width: 80px;
  line-height: 30px;
  color: white;
  background-color: rgb(20, 207, 207);
  border-style: none;
  border-radius: 5px;
  margin: 5px 0;
}
.msg-box {
  border: 2px solid lightgrey;
  margin: 5px 0;
  max-width: 50vw;
  line-height: 30px;
  padding-left: 5px;
}
